
h1, h2, h3, li, label{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255); 
    text-align: center;
}

body {
    background-image: url('https://scitechdaily.com/images/Hacking-Cybersecurity.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.graph-container {
    background-color: rgba(255, 255, 255, 0.6);
    border: 10px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graph-container img {
    width: calc(50% - 20px); /* Calculate the width for each image with some spacing */
    margin-bottom: 20px; /* Add some margin between the rows */
}

/* Add this style for the navbar */
.navbar {
    background-color: #007BFF; /* Adjust the background color */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

/* Style the navigation links */
.nav-link {
    display: block;
    color: #fff; /* Adjust the text color */
    text-align: center;
    padding: 14px 20px; /* Increase padding on the left and right */
    text-decoration: none;
    font-size: 16px;
}

/* Change color on hover */
.nav-link:hover {
    background-color: #0056b3; /* Adjust the background color on hover */
    color: #fff; /* Adjust the text color on hover */
}

/* Add these styles for the user input form */
#userForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da; /* Light border color */
    border-radius: 4px;
}

button {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
