
h1, h2, h3, li, label{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255); 
    text-align: center;
}

body {
    background-image: url('https://scitechdaily.com/images/Hacking-Cybersecurity.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.graph-container {
    background-color: rgba(255, 255, 255, 0.6);
    border: 10px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graph-container img {
    width: calc(50% - 20px); /* Calculate the width for each image with some spacing */
    margin-bottom: 20px; /* Add some margin between the rows */
}

/* Add this style for the navbar */
.navbar {
    background-color: #007BFF; /* Adjust the background color */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

/* Style the navigation links */
.nav-link {
    display: block;
    color: #fff; /* Adjust the text color */
    text-align: center;
    padding: 14px 20px; /* Increase padding on the left and right */
    text-decoration: none;
    font-size: 16px;
}

/* Change color on hover */
.nav-link:hover {
    background-color: #0056b3; /* Adjust the background color on hover */
    color: #fff; /* Adjust the text color on hover */
}
