<!DOCTYPE html>
<html>
<head>
    <title>Player Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cybersecurity Player Stats</h1>

    <div class="graph-container">
        <img src="{{ url_for('static', filename='answering_speed_distribution.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='category_distribution.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='correct-vs-category.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='correctness_distribution_by_category.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='overall_user_performance.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='question_answering_by_month.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='scatter_plot.png') }}" alt="pie chart">
        <img src="{{ url_for('static', filename='time-taken-vs-correctness-users.png') }}" alt="pie chart">
    </div>

</body>
</html>
